.cardProperties {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;

    background-color: var(--primary-color-2);
    border-radius: var(--radius-md);
    overflow: hidden;

    transition: box-shadow var(--normal-transition);
}

.cardProperties:hover {
    box-shadow: 0 4px 12px var(--transparent-black-03);
}

.imageContainer {
    width: 100%;
    height: 12.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-1);
    overflow: hidden;
}

.imageProperties {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoProperties {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--15px);

    padding: var(--20px);
    color: var(--primary-color-5);
}

.headerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--15px);
}

.priceProperties h2 {
    font-size: var(--h2-size);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.buttonsProperties {
    display: flex;
    flex-direction: row;
    gap: var(--10px);
    flex-shrink: 0;
}

.buttonsProperties button {
    padding: var(--10px);
    background-color: var(--primary-color-1);
    border: 1px solid var(--primary-color-3);
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: all var(--normal-transition);

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--40px);
    height: var(--40px);

    margin: 0;
    box-shadow: none;
}

.editButton:hover {
    background-color: var(--secondary-color-4);
    border-color: var(--secondary-color-5);
}

.deleteButton:hover {
    background-color: var(--error-color);
    border-color: var(--error-color);
}

.linkProperties {
    text-decoration: none;
    color: inherit;
}

.restInfoProperties h4 {
    margin: 0;
    font-weight: var(--font-weight-normal);
    line-height: 1.4;
    color: var(--primary-color-5);
}

@media (min-width: 768px) {
    .cardProperties {
        flex-direction: row;
        align-items: center;
        max-width: 55rem;
        min-height: 13.75rem;
    }

    .imageContainer {
        flex-shrink: 0;
        width: 17.8125rem;
        height: 13.75rem;
    }

    .infoProperties {
        gap: var(--20px);
        padding: var(--20px) var(--30px);
    }
}

@media (min-width: 1024px) {
    .buttonsProperties button {
        width: 2.75rem;
        height: 2.75rem;
    }

    .headerRow {
        gap: var(--20px);
    }
}

@media (min-width: 1280px) {
    .buttonsProperties button {
        width:  var(--50px);
        height: var(--50px);
    }
}