.container {
    padding: 0;
    margin: 0;
}

.propertiesLayoutFilter {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    gap: var(--20px);
    padding: 0;
    margin: 0;
}

.propertiesLayoutFilters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.containerContentRight {
    flex: 1 1 100%;
    max-width: 100%;
    padding-right: 0;
    box-sizing: border-box;
}

@media (max-width: 720px) {
    .container {
        margin-top: 110px;
    }
}

@media (min-width: 901px) {
    .propertiesLayoutFilter {
        flex-direction: row;
        gap: var(--40px);
    }

    .propertiesLayoutFilters {
        flex-direction: row;
        flex: 1 1 25%;
        max-width: 25%;
    }

    .containerContentRight {
        flex: 1 1 75%;
        max-width: 75%;
        padding-right: var(--40px);
    }
}