:root {
    /*colors*/
    --primary-color-1: #fdffe2;
    --primary-color-2: #d3d3d3;
    --primary-color-3: #8d8d8d;
    --primary-color-4: #626262;
    --primary-color-5: #353535;

    --primary-hover-color: #f59e0b;

    --secondary-color-1: #fffef9;
    --secondary-color-2: #fff5c5;
    --secondary-color-3: #ffea81;
    --secondary-color-4: #fada4d;
    --secondary-color-5: #ffdc2b;

    --secondary-hover-color: #4b5563;
    --primary-text-color: #374151;
    --secondary-text-color: #9ca3af;
    --background-color: #fffef9;
    --border-color: #d1d5db;
    --focus-color: #fef3c7;
    --error-color: #d32f2f;
    --retry: #1976d2;
    --almost-black: #202020;

    --transparent: transparent;
    --transparent-black-01: rgba(0, 0, 0, 0.1);
    --transparent-black-03: rgba(0, 0, 0, 0.3);
    --transparent-black-07: rgba(0, 0, 0, 0.7);
    --transparent-grey-065: rgb(26, 26, 25, 0.65);
    --transparent-grey-085: rgb(26, 26, 25, 0.85);
    --transparent-grey-095: rgb(26, 26, 25, 0.95);
    --transparent-white-07: rgb(253, 255, 226, 0.7);


    /*font-sizes for mobile*/
    --h1-size: 1.25rem; /*20px*/;
    --h2-size: 1.125rem; /* 18px */
    --h3-size: 1rem;    /* 16px */
    --h4-size: 0.875rem; /* 14px */
    --h5-size: 0.75rem; /*12px*/
    --h6-size: 0.625rem; /*10px*/


    /*margin/padding*/
    --50px: 3.125rem; /*50px*/
    --40px: 2.5rem; /*40px*/
    --35px: 2.1875rem; /*35px*/
    --30px: 1.875rem; /*30px*/
    --25px: 1.5625rem; /*25px*/
    --20px: 1.25rem; /*20px*/
    --15px: 0.9375rem; /*15px*/
    --10px: 0.625rem; /*10px*/
    --5px: 0.3125rem; /*5px*/
    --1px: 0.0625; /*1px*/


    /*fonts*/
    --primary-font: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */


    /*borders and effects*/
    --radius-sm: 0.375rem; /* 6px */
    --radius-md: 0.5rem; /* 8px */
    --radius-l: 0.625rem; /* 10px */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md:
        0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg:
        0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);


    /*transitions*/
    --fast-transition: 150ms ease-in-out;
    --normal-transition: 300ms ease-in-out;
}



body {
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    overflow: visible;
}


/*font-sizes*/
h1{
    font-size: var(--h1-size);
    font-weight: lighter;
}
h2{
    font-size: var(--h2-size);
    font-weight: lighter;
}
h3{
    font-size: var(--h3-size);
    font-weight: lighter;
}
h4{
    font-size: var(--h4-size);
    font-weight: lighter;
}
h5{
    font-size: var(--h5-size);
    font-weight: lighter;
}
h6{
    font-size: var(--h6-size);
    font-weight: lighter;
}
/*same for tablet and desktop*/
@media (min-width: 768px) {
    :root {
        /* Tablet */
        --h1-size: 1.625rem; /* 26px */
        --h2-size: 1.5rem;   /* 24px */
        --h3-size: 1.25rem;  /* 20px */
        --h4-size: 1.125rem; /* 18px */
        --h5-size: 0.875rem; /* 14px */
        --h6-size: 0.75rem; /* 12px */
    }
}
@media (min-width: 1024px) {
    :root {
        /* Tablet */
        --h1-size: 2.125rem; /* 34px */
        --h2-size: 1.625rem; /* 26px */
        --h3-size: 1.5rem;   /* 24px */
        --h4-size: 1.25rem;  /* 20px */
        --h5-size: 1.125rem; /* 18px */
        --h6-size: 0.875rem; /* 14px */
    }
}


/*buttons general properties (for specific ones, modify them in an apart className)*/
button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;

    margin: 10px auto;

    font-size: 14px;
    color: var(--primary-color-5);
    border: 1.5px solid var(--primary-color-5);
    border-radius: 100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    transition: box-shadow var(--normal-transition);
}
button:hover {
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.2);
}



